body {
    margin: 0; padding: 0;
    background-color: #f0f0f0;
    background: url(zadnifon/fon.jpg) no-repeat center center / cover;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-direction: column;
    perspective: 1000;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: #8f2727;
    color: rgb(255, 255, 255);
    font-size: 150px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.5s ease-out, background-color 0.3s ease-in;
    transform-style: preserve-3d;
    margin-bottom: 5px;
    text-shadow: 0 0 5px black;
}


.buttons {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 15px;
}
.selected {
    background-color: rgb(0, 238, 255);
    border-radius: 3px;
    box-shadow: 0 0 30px inset 0 0 12px rgb(80, 208, 255);
}

.rotate {
    transform: rotateY(180deg);
}

.front {
    background-color: #acd6c6;
}

.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    flex-direction: column;
    text-shadow: 0 0 0 10px black;
}

.modal button {
    margin-top: 20px;
    width: 180px;
    font-size: 22px;
    border-radius: 10px;
    background: linear-gradient(145deg, rgb(210, 67, 67), rgb(221, 131, 62));
    box-shadow: 0 0 15px #ff3333, inset 0 0 8px #ff3d3d;
}

button {
    font-size: 50px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: none;
    cursor:pointer;
    box-shadow: 0 0 15px black;
    transition: 0.2s ease-out;
    transform-style: preserve-3d;
    
}

button:active {
    transform: scale(1.3);
}

.copyright {
    position: fixed;
    bottom: 0;
    font-size: 10px;
    font-weight: normal;
}

@media (max-width: 768px) {
    button {
        font-size: 25px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card {
        font-size: 60px;
        width: 200px;
        height: 300px;
    }
}

